body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #141414; /* Dark background for authenticated user page */
    color: #ffffff; /* White text for dark mode */
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 10px 20px;
    border-bottom: 1px solid #333;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #333333;
}

.logout-button-navbar {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button-navbar:hover {
    background-color: #d40812;
}

.welcome-message-home {
    font-size: 2.5rem;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.recommendations-placeholder {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.placeholder {
    font-size: 1.2rem;
    color: #ccc;
    padding: 10px;
}
