.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.welcome-message-home {
    font-size: 2.5rem;
    margin: 20px;
    color: #242323;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1)
}