.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* this is just a placeholder, since the homepage for connected users is a different page */
.welcome-message {
  font-size: 2.5rem;
  margin: 20px;
  color: #242323;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* The whole box where login elements are located */
.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: left;
}

.login-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px 10px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1a5fb4;
}

.error-message {
  color: #cc0000;
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
  display: block;
}